server:
  port: 8080

spring:
  application:
    name: poppano-gpt

  datasource:
    url: jdbc:postgresql://localhost:5432/ai
    username: ai
    password: ai
    driver-class-name: org.postgresql.Driver

  ai:
    ollama:
      init:
        pull-model-strategy: when_missing
      base-url: http://localhost:11434
      chat:
        options:
          model: granite4:3b
      embedding:
        options:
          model: mxbai-embed-large:335m
    vectorstore:
      pgvector:
        initialize-schema: true
        schema-name: public
        table-name: rag_docs
        dimensions: 1024
    chat:
      observations:
        log-prompt: true
        log-completion: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

arconia:
  dev:
    services:
      lgtm:
        enabled: false
      phoenix:
        enabled: true

  observations:
    generative-ai:
      openinference:
        enabled: true

# UI Configuration
thymeleaf:
  cache: false
  prefix: classpath:/templates/
  suffix: .html
